<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DTXcode</key>
	<string>0421</string>
	<key>CFBundleName</key>
	<string>$DEPLOY_PROJECT_NAME</string>
	<key>DTSDKName</key>
	<string>iphoneos7.1</string>
	<key>DTSDKBuild</key>
	<string>9A334</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon.png</string>
		<string>Icon@2x.png</string>
		<string>Icon-76.png</string>
		<string>Icon-76@2x.png</string>
		<string>Icon-Small.png</string>
		<string>Icon-Small@2x.png</string>
		<string>Icon-Small-50.png</string>
	</array>
	<key>BuildMachineOSBuild</key>
	<string>11D50b</string>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleExecutable</key>
	<string>$DEPLOY_EXECUTABLE</string>
	<key>DTCompiler</key>
	<string></string>
	<key>MinimumOSVersion</key>
	<string>7.1</string>
	<key>CFBundleIdentifier</key>
	<string>$DEPLOY_PROJECT_IDENTIFIER</string>
	<key>DTPlatformVersion</key>
	<string>7.1</string>
	<key>DTXcodeBuild</key>
	<string>4D502</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>$DEPLOY_PROJECT_NAME</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>DTPlatformBuild</key>
	<string>9A334</string>
</dict>
</plist>
