/3rdp
/3rdp-restricted
/build
/bin/latest
/bin/git
/bin/win64/.wget-hsts
/data/Temp
/data/Output
/.vs
/resources/documentation/html
/resources/documentation/latest
/resources/documentation/latex
/jconfig.h
.claude/