<?xml version="1.0" encoding="utf-8"?>
<object type="traktor.drone.DroneSettings">
    <tools>
        <item type="traktor.drone.DroneToolGroup">
          <title>Build solution</title>
          <tools>
            <item type="traktor.drone.DroneToolShortcut">
              <title>vs2008, win32</title>
              <command>$(TRAKTOR_HOME)/build-projects-vs2008-win32.bat</command>
              <commandArguments/>
              <workingDirectory>$(TRAKTOR_HOME)</workingDirectory>
            </item>
            <item type="traktor.drone.DroneToolShortcut">
              <title>vs2008, win64</title>
              <command>$(TRAKTOR_HOME)/build-projects-vs2008-win64.bat</command>
              <commandArguments/>
              <workingDirectory>$(TRAKTOR_HOME)</workingDirectory>
            </item>
            <item type="traktor.drone.DroneToolShortcut">
              <title>vs2008, ps3</title>
              <command>$(TRAKTOR_HOME)/build-projects-vs2008-ps3.bat</command>
              <commandArguments/>
              <workingDirectory>$(TRAKTOR_HOME)</workingDirectory>
            </item>
            <item type="traktor.drone.DroneToolShortcut">
              <title>vs2008, xbox360</title>
              <command>$(TRAKTOR_HOME)/build-projects-vs2008-xbox360.bat</command>
              <commandArguments/>
              <workingDirectory>$(TRAKTOR_HOME)</workingDirectory>
            </item>
            <item type="traktor.drone.DroneToolShortcut">
              <title>vs2008, mobile6</title>
              <command>$(TRAKTOR_HOME)/build-projects-vs2008-mobile6.bat</command>
              <commandArguments/>
              <workingDirectory>$(TRAKTOR_HOME)</workingDirectory>
            </item>
          </tools>
        </item>
      <item type="traktor.drone.DroneToolGroup">
        <title>Open solution</title>
        <tools>
          <item type="traktor.drone.DroneToolShortcut">
            <title>win32</title>
            <command>$(TRAKTOR_HOME)/open-projects-win32.bat</command>
            <commandArguments/>
            <workingDirectory>$(TRAKTOR_HOME)</workingDirectory>
          </item>
          <item type="traktor.drone.DroneToolShortcut">
            <title>win64</title>
            <command>$(TRAKTOR_HOME)/open-projects-win64.bat</command>
            <commandArguments/>
            <workingDirectory>$(TRAKTOR_HOME)</workingDirectory>
          </item>
          <item type="traktor.drone.DroneToolShortcut">
            <title>ps3</title>
            <command>$(TRAKTOR_HOME)/open-projects-ps3.bat</command>
            <commandArguments/>
            <workingDirectory>$(TRAKTOR_HOME)</workingDirectory>
          </item>
          <item type="traktor.drone.DroneToolShortcut">
            <title>xbox360</title>
            <command>$(TRAKTOR_HOME)/open-projects-xbox360.bat</command>
            <commandArguments/>
            <workingDirectory>$(TRAKTOR_HOME)</workingDirectory>
          </item>
          <item type="traktor.drone.DroneToolShortcut">
            <title>mobile6</title>
            <command>$(TRAKTOR_HOME)/open-projects-mobile6.bat</command>
            <commandArguments/>
            <workingDirectory>$(TRAKTOR_HOME)</workingDirectory>
          </item>
        </tools>
      </item>
      <item type="traktor.drone.DroneToolGroup">
        <title>Pipeline</title>
        <tools>
          <item type="traktor.drone.DroneToolShortcut">
            <title>Generate reports</title>
            <command>$(TRAKTOR_HOME)/generate-reports.bat</command>
            <commandArguments/>
            <workingDirectory>$(TRAKTOR_HOME)</workingDirectory>
          </item>
        </tools>
      </item>
      <item type="traktor.drone.DroneToolGroup">
        <title>Run</title>
        <tools>
          <item type="traktor.drone.DroneToolShortcut">
            <title>SolutionBuilder</title>
            <command>$(TRAKTOR_HOME)/bin/SolutionBuilderUI.exe</command>
            <commandArguments/>
            <workingDirectory>$(TRAKTOR_HOME)</workingDirectory>
          </item>
        </tools>
      </item>
    </tools>
</object>