<?xml version="1.0" encoding="utf-8"?>
<object type="traktor.db.Configuration">
  <listenPort>33666</listenPort>
  <databaseManifests>
    <item>
      <first>Source</first>
      <second>$(TRAKTOR_HOME)/data/Source.manifest</second>
    </item>
    <item>
      <first>Output</first>
      <second>$(TRAKTOR_HOME)/data/Target/Win32/Output.manifest</second>
    </item>
  </databaseManifests>
</object>