<?xml version="1.0" encoding="utf-8"?>
<object type="traktor.editor.PropertyGroup">
  <value>
    <item>
      <first>Editor.SourceDatabase</first>
      <second type="traktor.editor.PropertyString">
        <value>provider=traktor.db.LocalDatabase;groupPath=data/Source;binary=false</value>
      </second>
    </item>
    <item>
      <first>Editor.OutputDatabase</first>
      <second type="traktor.editor.PropertyString">
        <value>provider=traktor.db.LocalDatabase;groupPath=data/Output;binary=false</value>
      </second>
    </item>
    <item>
      <first>Editor.BuildWhenModified</first>
      <second type="traktor.editor.PropertyBoolean">
        <value>true</value>
      </second>
    </item>
    <item>
      <first>Editor.Colors</first>
      <second type="traktor.editor.PropertyGroup">
        <value>
          <item>
            <first>Background</first>
            <second type="traktor.editor.PropertyColor">
              <value>139, 139, 139, 255</value>
            </second>
          </item>
          <item>
            <first>BoneWire</first>
            <second type="traktor.editor.PropertyColor">
              <value>255, 249, 0, 255</value>
            </second>
          </item>
          <item>
            <first>BoneWireSelected</first>
            <second type="traktor.editor.PropertyColor">
              <value>0, 131, 255, 255</value>
            </second>
          </item>
          <item>
            <first>BoundingBoxFaceSelected</first>
            <second type="traktor.editor.PropertyColor">
              <value>0, 191, 255, 20</value>
            </second>
          </item>
          <item>
            <first>BoundingBoxWire</first>
            <second type="traktor.editor.PropertyColor">
              <value>255, 255, 255, 145</value>
            </second>
          </item>
          <item>
            <first>BoundingBoxWireSelected</first>
            <second type="traktor.editor.PropertyColor">
              <value>155, 211, 255, 255</value>
            </second>
          </item>
          <item>
            <first>CameraWire</first>
            <second type="traktor.editor.PropertyColor">
              <value>255, 255, 255, 255</value>
            </second>
          </item>
          <item>
            <first>Grid</first>
            <second type="traktor.editor.PropertyColor">
              <value>36, 36, 36, 80</value>
            </second>
          </item>
          <item>
            <first>ReferenceEdge</first>
            <second type="traktor.editor.PropertyColor">
              <value>254, 0, 113, 255</value>
            </second>
          </item>
          <item>
            <first>SnapPoint</first>
            <second type="traktor.editor.PropertyColor">
              <value>255, 255, 255, 255</value>
            </second>
          </item>
        </value>
      </second>
    </item>
    <item>
      <first>Editor.DatabaseVisible</first>
      <second type="traktor.editor.PropertyBoolean">
        <value>true</value>
      </second>
    </item>
    <item>
      <first>Editor.Dictionary</first>
      <second type="traktor.editor.PropertyString">
        <value>res/English.xml</value>
      </second>
    </item>
    <item>
      <first>Editor.HeapVisible</first>
      <second type="traktor.editor.PropertyBoolean">
        <value>false</value>
      </second>
    </item>
    <item>
      <first>Editor.Icons</first>
      <second type="traktor.editor.PropertyGroup">
        <value>
          <item>
            <first>traktor.animation.Animation</first>
            <second type="traktor.editor.PropertyInteger">
              <value>11</value>
            </second>
          </item>
          <item>
            <first>traktor.animation.StateGraph</first>
            <second type="traktor.editor.PropertyInteger">
              <value>12</value>
            </second>
          </item>
          <item>
            <first>traktor.animation.Skeleton</first>
            <second type="traktor.editor.PropertyInteger">
              <value>10</value>
            </second>
          </item>
          <item>
            <first>traktor.flash.FlashMovieAsset</first>
            <second type="traktor.editor.PropertyInteger">
              <value>9</value>
            </second>
          </item>
          <item>
            <first>traktor.mesh.MeshAsset</first>
            <second type="traktor.editor.PropertyInteger">
              <value>6</value>
            </second>
          </item>
          <item>
            <first>traktor.render.ShaderGraph</first>
            <second type="traktor.editor.PropertyInteger">
              <value>3</value>
            </second>
          </item>
          <item>
            <first>traktor.render.TextureAsset</first>
            <second type="traktor.editor.PropertyInteger">
              <value>4</value>
            </second>
          </item>
          <item>
            <first>traktor.scene.SceneAsset</first>
            <second type="traktor.editor.PropertyInteger">
              <value>5</value>
            </second>
          </item>
          <item>
            <first>traktor.script.Script</first>
            <second type="traktor.editor.PropertyInteger">
              <value>14</value>
            </second>
          </item>
          <item>
            <first>traktor.terrain.HeightfieldAsset</first>
            <second type="traktor.editor.PropertyInteger">
              <value>9</value>
            </second>
          </item>
          <item>
            <first>traktor.world.EntityData</first>
            <second type="traktor.editor.PropertyInteger">
              <value>8</value>
            </second>
          </item>
          <item>
            <first>traktor.sound.SoundAsset</first>
            <second type="traktor.editor.PropertyInteger">
              <value>13</value>
            </second>
          </item>
        </value>
      </second>
    </item>
    <item>
      <first>Editor.LogVisible</first>
      <second type="traktor.editor.PropertyBoolean">
        <value>true</value>
      </second>
    </item>
    <item>
      <first>Editor.Maximized</first>
      <second type="traktor.editor.PropertyBoolean">
        <value>false</value>
      </second>
    </item>
    <item>
      <first>Editor.Modules</first>
      <second type="traktor.editor.PropertyStringArray">
        <value>
          <item>Traktor.Animation</item>
          <item>Traktor.Animation.Editor</item>
          <item>Traktor.Database.Compact</item>
          <item>Traktor.Database.Local</item>
          <item>Traktor.Database.Local.P4</item>
          <item>Traktor.Database.Remote.Client</item>
          <item>Traktor.Flash</item>
          <item>Traktor.Flash.Editor</item>
          <item>Traktor.I18N</item>
          <item>Traktor.I18N.Editor</item>
          <item>Traktor.Mesh</item>
          <item>Traktor.Mesh.Editor</item>
          <item>Traktor.Model</item>
          <item>Traktor.Physics</item>
          <item>Traktor.Physics.Editor</item>
          <item>Traktor.Physics.Bullet</item>
          <item>Traktor.Render</item>
          <item>Traktor.Render.Dx10</item>
          <item>Traktor.Render.Dx9</item>
          <item>Traktor.Render.Editor</item>
          <item>Traktor.Render.OpenGL</item>
          <item>Traktor.Render.Sw</item>
          <item>Traktor.Render.Ps3</item>
          <item>Traktor.Scene</item>
          <item>Traktor.Scene.Editor</item>
          <item>Traktor.Script</item>
          <item>Traktor.Script.Lua</item>
          <item>Traktor.Script.Editor</item>
          <item>Traktor.Sound</item>
          <item>Traktor.Sound.Ds8</item>
          <item>Traktor.Sound.Editor</item>
          <item>Traktor.Sound.WinMM</item>
          <item>Traktor.Sound.XAudio2</item>
          <item>Traktor.Spray</item>
          <item>Traktor.Spray.Editor</item>
          <item>Traktor.Terrain</item>
          <item>Traktor.Terrain.Editor</item>
          <item>Traktor.Theater</item>
          <item>Traktor.Theater.Editor</item>
          <item>Traktor.Video</item>
          <item>Traktor.Video.Editor</item>
          <item>Traktor.Weather</item>
          <item>Traktor.Weather.Editor</item>
          <item>Traktor.World</item>
          <item>Traktor.World.Editor</item>
        </value>
      </second>
    </item>
    <item>
      <first>Editor.PositionX</first>
      <second type="traktor.editor.PropertyInteger">
        <value>30</value>
      </second>
    </item>
    <item>
      <first>Editor.PositionY</first>
      <second type="traktor.editor.PropertyInteger">
        <value>30</value>
      </second>
    </item>
    <item>
      <first>Editor.PropertiesVisible</first>
      <second type="traktor.editor.PropertyBoolean">
        <value>true</value>
      </second>
    </item>
    <item>
      <first>Editor.RenderSystem</first>
      <second type="traktor.editor.PropertyString">
        <value>traktor.render.RenderSystemWin32</value>
      </second>
    </item>
    <item>
      <first>Editor.ScriptManagerType</first>
      <second type="traktor.editor.PropertyString">
        <value>traktor.script.ScriptManagerLua</value>
      </second>
    </item>
    <item>
      <first>Editor.SyntaxLanguageType</first>
      <second type="traktor.editor.PropertyString">
        <value>traktor.ui.custom.SyntaxLanguageLua</value>
      </second>
    </item>
    <item>
      <first>Editor.Shortcuts</first>
      <second type="traktor.editor.PropertyGroup">
        <value>
          <item>
            <first>Animation.Editor.Forward</first>
            <second type="traktor.editor.PropertyKey">
              <key>Right</key>
            </second>
          </item>
          <item>
            <first>Animation.Editor.GotoNextKey</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl|KsShift,Right</key>
            </second>
          </item>
          <item>
            <first>Animation.Editor.GotoPreviousKey</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl|KsShift,Left</key>
            </second>
          </item>
          <item>
            <first>Animation.Editor.InsertKey</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl|KsShift,Space</key>
            </second>
          </item>
          <item>
            <first>Animation.Editor.Play</first>
            <second type="traktor.editor.PropertyKey">
              <key>Space</key>
            </second>
          </item>
          <item>
            <first>Animation.Editor.Rewind</first>
            <second type="traktor.editor.PropertyKey">
              <key>Left</key>
            </second>
          </item>
          <item>
            <first>Animation.Editor.SelectNextBone</first>
            <second type="traktor.editor.PropertyKey">
              <key>Right</key>
            </second>
          </item>
          <item>
            <first>Animation.Editor.SelectPreviousBone</first>
            <second type="traktor.editor.PropertyKey">
              <key>Left</key>
            </second>
          </item>
          <item>
            <first>Animation.Editor.StepBack</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl,Left</key>
            </second>
          </item>
          <item>
            <first>Animation.Editor.StepForward</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl,Right</key>
            </second>
          </item>
          <item>
            <first>Animation.Editor.Stop</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl,Space</key>
            </second>
          </item>
          <item>
            <first>Animation.Editor.ToggleIK</first>
            <second type="traktor.editor.PropertyKey">
              <key>I</key>
            </second>
          </item>
          <item>
            <first>Animation.Editor.ToggleTrail</first>
            <second type="traktor.editor.PropertyKey">
              <key>T</key>
            </second>
          </item>
          <item>
            <first>Animation.Editor.ToggleTwistLock</first>
            <second type="traktor.editor.PropertyKey">
              <key>W</key>
            </second>
          </item>
          <item>
            <first>Editor.ActivateNextEditor</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl,Tab</key>
            </second>
          </item>
          <item>
            <first>Editor.ActivatePreviousEditor</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl|KsShift,Tab</key>
            </second>
          </item>
          <item>
            <first>Editor.Build</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl|KsShift,B</key>
            </second>
          </item>
          <item>
            <first>Editor.CloseDatabase</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl|KsShift,C</key>
            </second>
          </item>
          <item>
            <first>Editor.CloseEditor</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl,F4</key>
            </second>
          </item>
          <item>
            <first>Editor.Copy</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl,C</key>
            </second>
          </item>
          <item>
            <first>Editor.Cut</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl,X</key>
            </second>
          </item>
          <item>
            <first>Editor.Delete</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl,Delete</key>
            </second>
          </item>
          <item>
            <first>Editor.Paste</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl,V</key>
            </second>
          </item>
          <item>
            <first>Editor.Rebuild</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl|KsMenu|KsShift,B</key>
            </second>
          </item>
          <item>
            <first>Editor.Redo</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl,Y</key>
            </second>
          </item>
          <item>
            <first>Editor.Save</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl,S</key>
            </second>
          </item>
          <item>
            <first>Editor.SaveAll</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl|KsShift,S</key>
            </second>
          </item>
          <item>
            <first>Editor.SelectAll</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl,A</key>
            </second>
          </item>
          <item>
            <first>Editor.Undo</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl,Z</key>
            </second>
          </item>
          <item>
            <first>Effect.Editor.Play</first>
            <second type="traktor.editor.PropertyKey">
              <key>Space</key>
            </second>
          </item>
          <item>
            <first>Effect.Editor.RandomizeSeed</first>
            <second type="traktor.editor.PropertyKey">
              <key>R</key>
            </second>
          </item>
          <item>
            <first>Effect.Editor.Reset</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl,Left</key>
            </second>
          </item>
          <item>
            <first>Effect.Editor.Rewind</first>
            <second type="traktor.editor.PropertyKey">
              <key>Left</key>
            </second>
          </item>
          <item>
            <first>Effect.Editor.Stop</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl,Space</key>
            </second>
          </item>
          <item>
            <first>Effect.Editor.ToggleGuide</first>
            <second type="traktor.editor.PropertyKey">
              <key>G</key>
            </second>
          </item>
          <item>
            <first>Effect.Editor.ToggleVelocity</first>
            <second type="traktor.editor.PropertyKey">
              <key>V</key>
            </second>
          </item>
          <item>
            <first>Emitter.Editor.Play</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl,P</key>
            </second>
          </item>
          <item>
            <first>Emitter.Editor.Reset</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl,R</key>
            </second>
          </item>
          <item>
            <first>Emitter.Editor.Rewind</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl,Q</key>
            </second>
          </item>
          <item>
            <first>Emitter.Editor.Stop</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl,T</key>
            </second>
          </item>
          <item>
            <first>Emitter.Editor.ToggleVelocity</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl,1</key>
            </second>
          </item>
          <item>
            <first>Flash.Editor.Forward</first>
            <second type="traktor.editor.PropertyKey">
              <key>Right</key>
            </second>
          </item>
          <item>
            <first>Flash.Editor.LayoutAspect</first>
            <second type="traktor.editor.PropertyKey">
              <key>2</key>
            </second>
          </item>
          <item>
            <first>Flash.Editor.LayoutCenter</first>
            <second type="traktor.editor.PropertyKey">
              <key>1</key>
            </second>
          </item>
          <item>
            <first>Flash.Editor.Play</first>
            <second type="traktor.editor.PropertyKey">
              <key>Space</key>
            </second>
          </item>
          <item>
            <first>Flash.Editor.Rewind</first>
            <second type="traktor.editor.PropertyKey">
              <key>Left</key>
            </second>
          </item>
          <item>
            <first>Flash.Editor.Stop</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl,Space</key>
            </second>
          </item>
          <item>
            <first>Ocean.RandomizeWaves</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl,Q</key>
            </second>
          </item>
          <item>
            <first>Physics.ToggleMeshTriangles</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl,H</key>
            </second>
          </item>
          <item>
            <first>Scene.Editor.AddEntity</first>
            <second type="traktor.editor.PropertyKey">
              <key>A</key>
            </second>
          </item>
          <item>
            <first>Scene.Editor.DoubleView</first>
            <second type="traktor.editor.PropertyKey">
              <key>2</key>
            </second>
          </item>
          <item>
            <first>Scene.Editor.MoveSelectedEntityIntoView</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl,M</key>
            </second>
          </item>
          <item>
            <first>Scene.Editor.MoveToSelectedEntity</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl,F</key>
            </second>
          </item>
          <item>
            <first>Scene.Editor.Play</first>
            <second type="traktor.editor.PropertyKey">
              <key>Space</key>
            </second>
          </item>
          <item>
            <first>Scene.Editor.QuadrupleView</first>
            <second type="traktor.editor.PropertyKey">
              <key>3</key>
            </second>
          </item>
          <item>
            <first>Scene.Editor.Reset</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl,Q</key>
            </second>
          </item>
          <item>
            <first>Scene.Editor.Rewind</first>
            <second type="traktor.editor.PropertyKey">
              <key>Left</key>
            </second>
          </item>
          <item>
            <first>Scene.Editor.Rotate</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl,R</key>
            </second>
          </item>
          <item>
            <first>Scene.Editor.Scale</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl,E</key>
            </second>
          </item>
          <item>
            <first>Scene.Editor.SingleView</first>
            <second type="traktor.editor.PropertyKey">
              <key>1</key>
            </second>
          </item>
          <item>
            <first>Scene.Editor.Stop</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl,Space</key>
            </second>
          </item>
          <item>
            <first>Scene.Editor.ToggleAddReference</first>
            <second type="traktor.editor.PropertyKey">
              <key>R</key>
            </second>
          </item>
          <item>
            <first>Scene.Editor.ToggleGrid</first>
            <second type="traktor.editor.PropertyKey">
              <key>G</key>
            </second>
          </item>
          <item>
            <first>Scene.Editor.ToggleGuide</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsShift,G</key>
            </second>
          </item>
          <item>
            <first>Scene.Editor.ToggleSnap</first>
            <second type="traktor.editor.PropertyKey">
              <key>S</key>
            </second>
          </item>
          <item>
            <first>Scene.Editor.ToggleX</first>
            <second type="traktor.editor.PropertyKey">
              <key>Z</key>
            </second>
          </item>
          <item>
            <first>Scene.Editor.ToggleY</first>
            <second type="traktor.editor.PropertyKey">
              <key>X</key>
            </second>
          </item>
          <item>
            <first>Scene.Editor.ToggleZ</first>
            <second type="traktor.editor.PropertyKey">
              <key>C</key>
            </second>
          </item>
          <item>
            <first>Scene.Editor.Translate</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl,T</key>
            </second>
          </item>
          <item>
            <first>ShaderGraph.Editor.AlignBottom</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl,Down</key>
            </second>
          </item>
          <item>
            <first>ShaderGraph.Editor.AlignLeft</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl,Left</key>
            </second>
          </item>
          <item>
            <first>ShaderGraph.Editor.AlignRight</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl,Right</key>
            </second>
          </item>
          <item>
            <first>ShaderGraph.Editor.AlignTop</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl,Up</key>
            </second>
          </item>
          <item>
            <first>ShaderGraph.Editor.QuickMenu</first>
            <second type="traktor.editor.PropertyKey">
              <key>Space</key>
            </second>
          </item>
          <item>
            <first>Skeleton.Editor.AddBone</first>
            <second type="traktor.editor.PropertyKey">
              <key>A</key>
            </second>
          </item>
          <item>
            <first>StateGraph.Editor.AlignBottom</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl,Down</key>
            </second>
          </item>
          <item>
            <first>StateGraph.Editor.AlignLeft</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl,Left</key>
            </second>
          </item>
          <item>
            <first>StateGraph.Editor.AlignRight</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl,Right</key>
            </second>
          </item>
          <item>
            <first>StateGraph.Editor.AlignTop</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl,Up</key>
            </second>
          </item>
          <item>
            <first>Terrain.FlushSurfaceCache</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl,Q</key>
            </second>
          </item>
          <item>
            <first>Terrain.ToggleFollowGround</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl,F</key>
            </second>
          </item>
          <item>
            <first>Theater.CaptureEntities</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl|KsShift,Space</key>
            </second>
          </item>
          <item>
            <first>Theater.DeleteSelectedKey</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl|KsShift,Delete</key>
            </second>
          </item>
          <item>
            <first>Theater.GotoNextKey</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl,Right</key>
            </second>
          </item>
          <item>
            <first>Theater.GotoPreviousKey</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl,Left</key>
            </second>
          </item>
          <item>
            <first>Video.Editor.Forward</first>
            <second type="traktor.editor.PropertyKey">
              <key>Right</key>
            </second>
          </item>
          <item>
            <first>Video.Editor.Play</first>
            <second type="traktor.editor.PropertyKey">
              <key>Space</key>
            </second>
          </item>
          <item>
            <first>Video.Editor.Rewind</first>
            <second type="traktor.editor.PropertyKey">
              <key>Left</key>
            </second>
          </item>
          <item>
            <first>Video.Editor.Stop</first>
            <second type="traktor.editor.PropertyKey">
              <key>KsControl,Space</key>
            </second>
          </item>
        </value>
      </second>
    </item>
    <item>
      <first>Editor.SizeHeight</first>
      <second type="traktor.editor.PropertyInteger">
        <value>700</value>
      </second>
    </item>
    <item>
      <first>Editor.SizeWidth</first>
      <second type="traktor.editor.PropertyInteger">
        <value>1000</value>
      </second>
    </item>
    <item>
      <first>Editor.TargetTitle</first>
      <second type="traktor.editor.PropertyString">
        <value>Standard</value>
      </second>
    </item>
    <item>
      <first>Editor.ToggleEditable</first>
      <second type="traktor.editor.PropertyBoolean">
        <value>true</value>
      </second>
    </item>
    <item>
      <first>SceneEditor.View0</first>
      <second type="traktor.editor.PropertyInteger">
        <value>0</value>
      </second>
    </item>
    <item>
      <first>SceneEditor.View1</first>
      <second type="traktor.editor.PropertyInteger">
        <value>3</value>
      </second>
    </item>
    <item>
      <first>SceneEditor.View2</first>
      <second type="traktor.editor.PropertyInteger">
        <value>1</value>
      </second>
    </item>
    <item>
      <first>SceneEditor.View3</first>
      <second type="traktor.editor.PropertyInteger">
        <value>5</value>
      </second>
    </item>
    <item>
      <first>Pipeline.Db</first>
      <second type="traktor.editor.PropertyString">
        <value>fileName=data/Temp/Pipeline.db</value>
      </second>
    </item>
    <item>
      <first>Pipeline.AssetPath</first>
      <second type="traktor.editor.PropertyString">
        <value>data/Assets</value>
      </second>
    </item>
    <item>
      <first>Pipeline.MemCached</first>
      <second type="traktor.editor.PropertyBoolean">
        <value>true</value>
      </second>
    </item>
    <item>
      <first>Pipeline.MemCached.Host</first>
      <second type="traktor.editor.PropertyString">
        <value>192.168.143.200</value>
      </second>
    </item>
    <item>
      <first>Pipeline.MemCached.Port</first>
      <second type="traktor.editor.PropertyInteger">
        <value>11211</value>
      </second>
    </item>
    <item>
      <first>ShaderPipeline.ProgramCompiler</first>
      <second type="traktor.editor.PropertyString">
        <value>traktor.render.ProgramCompilerWin32</value>
      </second>
    </item>
    <item>
      <first>ShaderPipeline.Optimize</first>
      <second type="traktor.editor.PropertyInteger">
        <value>0</value>
      </second>
    </item>
    <item>
      <first>ShaderPipeline.Validate</first>
      <second type="traktor.editor.PropertyBoolean">
        <value>false</value>
      </second>
    </item>
    <item>
      <first>TexturePipeline.SkipMips</first>
      <second type="traktor.editor.PropertyInteger">
        <value>0</value>
      </second>
    </item>
    <item>
      <first>SceneEditor.PhysicsManager</first>
      <second type="traktor.editor.PropertyString">
        <value>traktor.physics.PhysicsManagerBullet</value>
      </second>
    </item>
  </value>
</object>
