<?xml version="1.0" encoding="utf-8"?>
<object type="traktor.PropertyGroup">	
	<value>
		<item>
			<first>Amalgam.AndroidApiLevel</first>
			<second type="traktor.PropertyString">
				<value>android-19</value>
			</second>
		</item>
		<item>
			<first>Amalgam.AndroidNdkRoot</first>
			<second type="traktor.PropertyString">
				<value>$(ANDROID_NDK_ROOT)</value>
			</second>
		</item>
		<item>
			<first>Amalgam.AndroidToolchain</first>
			<second type="traktor.PropertyString">
				<value>4.9</value>
			</second>
		</item>		
		<item>
			<first>Editor.BrowseTypeFilter</first>
			<second type="traktor.PropertyGroup">
				<value>
					<item>
						<first>traktor.IRuntimeClass</first>
						<second type="traktor.PropertyStringSet">
							<value>
								<item>traktor.script.Script</item>
							</value>
						</second>
					</item>
					<item>
						<first>traktor.ai.NavMesh</first>
						<second type="traktor.PropertyStringSet">
							<value>
								<item>traktor.ai.NavMeshAsset</item>
							</value>
						</second>
					</item>
					<item>
						<first>traktor.animation.Animation</first>
						<second type="traktor.PropertyStringSet">
							<value>
								<item>traktor.animation.Animation</item>
								<item>traktor.animation.AnimationAsset</item>
							</value>
						</second>
					</item>
					<item>
						<first>traktor.animation.Skeleton</first>
						<second type="traktor.PropertyStringSet">
							<value>
								<item>traktor.animation.Skeleton</item>
								<item>traktor.animation.SkeletonAsset</item>
							</value>
						</second>
					</item>
					<item>
						<first>traktor.flash.FlashMovie</first>
						<second type="traktor.PropertyStringSet">
							<value>
								<item>traktor.flash.FlashEmptyMovieAsset</item>
								<item>traktor.flash.FlashMovieAsset</item>
							</value>
						</second>
					</item>
					<item>
						<first>traktor.hf.Heightfield</first>
						<second type="traktor.PropertyStringSet">
							<value>
								<item>traktor.hf.HeightfieldAsset</item>
							</value>
						</second>
					</item>
					<item>
						<first>traktor.hf.MaterialMask</first>
						<second type="traktor.PropertyStringSet">
							<value>
								<item>traktor.hf.MaterialMaskAsset</item>
							</value>
						</second>
					</item>
					<item>
						<first>traktor.input.InputMapping</first>
						<second type="traktor.PropertyStringSet">
							<value>
								<item>traktor.input.InputMappingAsset</item>
							</value>
						</second>
					</item>
					<item>
						<first>traktor.input.InputMappingResource</first>
						<second type="traktor.PropertyStringSet">
							<value>
								<item>traktor.input.InputMappingAsset</item>
							</value>
						</second>
					</item>
					<item>
						<first>traktor.mesh.IMesh</first>
						<second type="traktor.PropertyStringSet">
							<value>
								<item>traktor.mesh.MeshAsset</item>
							</value>
						</second>
					</item>
					<item>
						<first>traktor.mesh.InstanceMesh</first>
						<second type="traktor.PropertyStringSet">
							<value>
								<item>traktor.mesh.MeshAsset</item>
							</value>
						</second>
					</item>
					<item>
						<first>traktor.mesh.SkinnedMesh</first>
						<second type="traktor.PropertyStringSet">
							<value>
								<item>traktor.mesh.MeshAsset</item>
							</value>
						</second>
					</item>
					<item>
						<first>traktor.mesh.SkinnedMesh</first>
						<second type="traktor.PropertyStringSet">
							<value>
								<item>traktor.mesh.MeshAsset</item>
							</value>
						</second>
					</item>
					<item>
						<first>traktor.physics.Mesh</first>
						<second type="traktor.PropertyStringSet">
							<value>
								<item>traktor.physics.MeshAsset</item>
							</value>
						</second>
					</item>
					<item>
						<first>traktor.render.ITexture</first>
						<second type="traktor.PropertyStringSet">
							<value>
								<item>traktor.hf.HeightfieldTextureAsset</item>
								<item>traktor.mesh.OcclusionTextureAsset</item>
								<item>traktor.render.TextureAsset</item>
								<item>traktor.render.BfnTextureAsset</item>
								<item>traktor.render.ProbeTextureAsset</item>
								<item>traktor.render.SequenceTextureAsset</item>
								<item>traktor.video.VideoAsset</item>
							</value>
						</second>
					</item>
					<item>
						<first>traktor.render.ICubeTexture</first>
						<second type="traktor.PropertyStringSet">
							<value>
								<item>traktor.render.TextureAsset</item>
								<item>traktor.render.ProbeTextureAsset</item>
								<item>traktor.render.SequenceTextureAsset</item>
							</value>
						</second>
					</item>
					<item>
						<first>traktor.render.ISimpleTexture</first>
						<second type="traktor.PropertyStringSet">
							<value>
								<item>traktor.hf.HeightfieldTextureAsset</item>
								<item>traktor.mesh.OcclusionTextureAsset</item>
								<item>traktor.render.TextureAsset</item>
								<item>traktor.render.SequenceTextureAsset</item>
								<item>traktor.video.VideoAsset</item>
							</value>
						</second>
					</item>					
					<item>
						<first>traktor.render.Shader</first>
						<second type="traktor.PropertyStringSet">
							<value>
								<item>traktor.render.ShaderGraph</item>
							</value>
						</second>
					</item>
					<item>
						<first>traktor.resource.ResourceBundle</first>
						<second type="traktor.PropertyStringSet">
							<value>
								<item>traktor.resource.ResourceBundleAsset</item>
							</value>
						</second>
					</item>
					<item>
						<first>traktor.scene.Scene</first>
						<second type="traktor.PropertyStringSet">
							<value>
								<item>traktor.scene.SceneAsset</item>
								<item>traktor.scene.ScenePermutationAsset</item>
							</value>
						</second>
					</item>
					<item>
						<first>traktor.script.IScriptContext</first>
						<second type="traktor.PropertyStringSet">
							<value>
								<item>traktor.script.Script</item>
								<item>traktor.script.ScriptAsset</item>
							</value>
						</second>
					</item>
					<item>
						<first>traktor.script.IScriptResource</first>
						<second type="traktor.PropertyStringSet">
							<value>
								<item>traktor.script.Script</item>
								<item>traktor.script.ScriptAsset</item>
							</value>
						</second>
					</item>
					<item>
						<first>traktor.sound.Sound</first>
						<second type="traktor.PropertyStringSet">
							<value>
								<item>traktor.sound.BankAsset</item>
								<item>traktor.sound.SoundAsset</item>
							</value>
						</second>
					</item>
					<item>
						<first>traktor.spark.Font</first>
						<second type="traktor.PropertyStringSet">
							<value>
								<item>traktor.spark.FontAsset</item>
							</value>
						</second>
					</item>
					<item>
						<first>traktor.spark.Shape</first>
						<second type="traktor.PropertyStringSet">
							<value>
								<item>traktor.spark.ImageShapeAsset</item>
								<item>traktor.spark.VectorShapeAsset</item>
							</value>
						</second>
					</item>
					<item>
						<first>traktor.spray.Effect</first>
						<second type="traktor.PropertyStringSet">
							<value>
								<item>traktor.spray.EffectData</item>
							</value>
						</second>
					</item>					
					<item>
						<first>traktor.spray.PointSet</first>
						<second type="traktor.PropertyStringSet">
							<value>
								<item>traktor.spray.PointSetAsset</item>
							</value>
						</second>
					</item>
					<item>
						<first>traktor.terrain.Terrain</first>
						<second type="traktor.PropertyStringSet">
							<value>
								<item>traktor.terrain.TerrainAsset</item>
							</value>
						</second>
					</item>
					<item>
						<first>traktor.video.Video</first>
						<second type="traktor.PropertyStringSet">
							<value>
								<item>traktor.video.VideoAsset</item>
							</value>
						</second>
					</item>					
					<item>
						<first>traktor.weather.CloudMask</first>
						<second type="traktor.PropertyStringSet">
							<value>
								<item>traktor.weather.CloudMaskAsset</item>
							</value>
						</second>
					</item>			
					<item>
						<first>traktor.world.EntityEventSet</first>
						<second type="traktor.PropertyStringSet">
							<value>
								<item>traktor.world.EntityEventSetData</item>
							</value>
						</second>
					</item>			
				</value>
			</second>
		</item>
		<item>
			<first>Editor.BuildWhenModified</first>
			<second type="traktor.PropertyBoolean">
				<value>true</value>
			</second>
		</item>
		<item>
			<first>Editor.Colors</first>
			<second type="traktor.PropertyGroup">
				<value>
					<item>
						<first>Background</first>
						<second type="traktor.PropertyColor">
							<value>139, 139, 139, 255</value>
						</second>
					</item>
					<item>
						<first>BoneWire</first>
						<second type="traktor.PropertyColor">
							<value>255, 249, 0, 255</value>
						</second>
					</item>
					<item>
						<first>BoneWireSelected</first>
						<second type="traktor.PropertyColor">
							<value>0, 131, 255, 255</value>
						</second>
					</item>
					<item>
						<first>BoundingBoxFaceSelected</first>
						<second type="traktor.PropertyColor">
							<value>0, 191, 255, 20</value>
						</second>
					</item>
					<item>
						<first>BoundingBoxWire</first>
						<second type="traktor.PropertyColor">
							<value>255, 255, 255, 145</value>
						</second>
					</item>
					<item>
						<first>BoundingBoxWireSelected</first>
						<second type="traktor.PropertyColor">
							<value>155, 211, 255, 255</value>
						</second>
					</item>
					<item>
						<first>CameraWire</first>
						<second type="traktor.PropertyColor">
							<value>255, 255, 255, 255</value>
						</second>
					</item>
					<item>
						<first>Grid</first>
						<second type="traktor.PropertyColor">
							<value>36, 36, 36, 80</value>
						</second>
					</item>
					<item>
						<first>ReferenceEdge</first>
						<second type="traktor.PropertyColor">
							<value>254, 0, 113, 255</value>
						</second>
					</item>
					<item>
						<first>SnapPoint</first>
						<second type="traktor.PropertyColor">
							<value>255, 255, 255, 255</value>
						</second>
					</item>
				</value>
			</second>
		</item>
		<item>
			<first>Editor.DatabaseVisible</first>
			<second type="traktor.PropertyBoolean">
				<value>true</value>
			</second>
		</item>
		<item>
			<first>Editor.Dictionary</first>
			<second type="traktor.PropertyString">
				<value>$(TRAKTOR_HOME)/res/English.xml</value>
			</second>
		</item>
		<item>
			<first>Editor.Help</first>
			<second type="traktor.PropertyString">
				<value>$(TRAKTOR_HOME)/res/Help.xml</value>
			</second>
		</item>
		<item>
			<first>Editor.Icons</first>
			<second type="traktor.PropertyGroup">
				<value>
					<item>
						<first>traktor.online.IGameConfiguration</first>
						<second type="traktor.PropertyInteger">
							<value>20</value>
						</second>
					</item>
					<item>
						<first>traktor.sound.BankAsset</first>
						<second type="traktor.PropertyInteger">
							<value>15</value>
						</second>
					</item>
					<item>
						<first>traktor.sound.SoundCategory</first>
						<second type="traktor.PropertyInteger">
							<value>16</value>
						</second>
					</item>
					<item>
						<first>traktor.input.InputMappingAsset</first>
						<second type="traktor.PropertyInteger">
							<value>18</value>
						</second>
					</item>
					<item>
						<first>traktor.spray.EffectData</first>
						<second type="traktor.PropertyInteger">
							<value>19</value>
						</second>
					</item>
					<item>
						<first>traktor.world.PostProcessSettings</first>
						<second type="traktor.PropertyInteger">
							<value>17</value>
						</second>
					</item>
					<item>
						<first>traktor.editor.Assets</first>
						<second type="traktor.PropertyInteger">
							<value>21</value>
						</second>
					</item>
					<item>
						<first>traktor.animation.Animation</first>
						<second type="traktor.PropertyInteger">
							<value>11</value>
						</second>
					</item>
					<item>
						<first>traktor.animation.StateGraph</first>
						<second type="traktor.PropertyInteger">
							<value>12</value>
						</second>
					</item>
					<item>
						<first>traktor.animation.Skeleton</first>
						<second type="traktor.PropertyInteger">
							<value>10</value>
						</second>
					</item>
					<item>
						<first>traktor.flash.FlashMovieAsset</first>
						<second type="traktor.PropertyInteger">
							<value>9</value>
						</second>
					</item>
					<item>
						<first>traktor.mesh.MeshAsset</first>
						<second type="traktor.PropertyInteger">
							<value>6</value>
						</second>
					</item>
					<item>
						<first>traktor.render.ShaderGraph</first>
						<second type="traktor.PropertyInteger">
							<value>3</value>
						</second>
					</item>
					<item>
						<first>traktor.render.TextureAsset</first>
						<second type="traktor.PropertyInteger">
							<value>4</value>
						</second>
					</item>
					<item>
						<first>traktor.scene.SceneAsset</first>
						<second type="traktor.PropertyInteger">
							<value>5</value>
						</second>
					</item>
					<item>
						<first>traktor.script.Script</first>
						<second type="traktor.PropertyInteger">
							<value>14</value>
						</second>
					</item>
					<item>
						<first>traktor.terrain.HeightfieldAsset</first>
						<second type="traktor.PropertyInteger">
							<value>9</value>
						</second>
					</item>
					<item>
						<first>traktor.world.EntityData</first>
						<second type="traktor.PropertyInteger">
							<value>8</value>
						</second>
					</item>
					<item>
						<first>traktor.sound.SoundAsset</first>
						<second type="traktor.PropertyInteger">
							<value>13</value>
						</second>
					</item>
				</value>
			</second>
		</item>
		<item>
			<first>Editor.LogVisible</first>
			<second type="traktor.PropertyBoolean">
				<value>true</value>
			</second>
		</item>
		<item>
			<first>Editor.Maximized</first>
			<second type="traktor.PropertyBoolean">
				<value>false</value>
			</second>
		</item>
		<item>
			<first>Editor.PositionX</first>
			<second type="traktor.PropertyInteger">
				<value>30</value>
			</second>
		</item>
		<item>
			<first>Editor.PositionY</first>
			<second type="traktor.PropertyInteger">
				<value>30</value>
			</second>
		</item>
		<item>
			<first>Editor.PropertiesVisible</first>
			<second type="traktor.PropertyBoolean">
				<value>true</value>
			</second>
		</item>
		<item>
			<first>Editor.ScriptManagerType</first>
			<second type="traktor.PropertyString">
				<value>traktor.script.ScriptManagerLua</value>
			</second>
		</item>
		<item>
			<first>Editor.SyntaxLanguageType</first>
			<second type="traktor.PropertyString">
				<value>traktor.ui.custom.SyntaxLanguageLua</value>
			</second>
		</item>
		<item>
			<first>Editor.Shortcuts</first>
			<second type="traktor.PropertyGroup">
				<value>
					<item>
						<first>Animation.Editor.Forward</first>
						<second type="traktor.PropertyString">
							<value>Right</value>
						</second>
					</item>
					<item>
						<first>Animation.Editor.GotoNextKey</first>
						<second type="traktor.PropertyString">
							<value>KsCommand|KsShift,Right</value>
						</second>
					</item>
					<item>
						<first>Animation.Editor.GotoPreviousKey</first>
						<second type="traktor.PropertyString">
							<value>KsCommand|KsShift,Left</value>
						</second>
					</item>
					<item>
						<first>Animation.Editor.InsertKey</first>
						<second type="traktor.PropertyString">
							<value>KsCommand|KsShift,Space</value>
						</second>
					</item>
					<item>
						<first>Animation.Editor.Play</first>
						<second type="traktor.PropertyString">
							<value>Space</value>
						</second>
					</item>
					<item>
						<first>Animation.Editor.Rewind</first>
						<second type="traktor.PropertyString">
							<value>Left</value>
						</second>
					</item>
					<item>
						<first>Animation.Editor.SelectNextBone</first>
						<second type="traktor.PropertyString">
							<value>Right</value>
						</second>
					</item>
					<item>
						<first>Animation.Editor.SelectPreviousBone</first>
						<second type="traktor.PropertyString">
							<value>Left</value>
						</second>
					</item>
					<item>
						<first>Animation.Editor.StepBack</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,Left</value>
						</second>
					</item>
					<item>
						<first>Animation.Editor.StepForward</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,Right</value>
						</second>
					</item>
					<item>
						<first>Animation.Editor.Stop</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,Space</value>
						</second>
					</item>
					<item>
						<first>Animation.Editor.ToggleIK</first>
						<second type="traktor.PropertyString">
							<value>I</value>
						</second>
					</item>
					<item>
						<first>Animation.Editor.ToggleTrail</first>
						<second type="traktor.PropertyString">
							<value>T</value>
						</second>
					</item>
					<item>
						<first>Animation.Editor.ToggleTwistLock</first>
						<second type="traktor.PropertyString">
							<value>W</value>
						</second>
					</item>
					<item>
						<first>Editor.ActivateNextEditor</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,Tab</value>
						</second>
					</item>
					<item>
						<first>Editor.ActivatePreviousEditor</first>
						<second type="traktor.PropertyString">
							<value>KsCommand|KsShift,Tab</value>
						</second>
					</item>
					<item>
						<first>Editor.Build</first>
						<second type="traktor.PropertyString">
							<value>KsCommand|KsShift,B</value>
						</second>
					</item>
					<item>
						<first>Editor.CloseDatabase</first>
						<second type="traktor.PropertyString">
							<value>KsCommand|KsShift,C</value>
						</second>
					</item>
					<item>
						<first>Editor.CloseEditor</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,F4</value>
						</second>
					</item>
					<item>
						<first>Editor.Copy</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,C</value>
						</second>
					</item>
					<item>
						<first>Editor.Cut</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,X</value>
						</second>
					</item>
					<item>
						<first>Editor.Delete</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,Delete</value>
						</second>
					</item>
					<item>
						<first>Editor.Find</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,F</value>
						</second>
					</item>					
					<item>
						<first>Editor.FindNext</first>
						<second type="traktor.PropertyString">
							<value>F3</value>
						</second>
					</item>					
					<item>
						<first>Editor.Paste</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,V</value>
						</second>
					</item>
					<item>
						<first>Editor.Rebuild</first>
						<second type="traktor.PropertyString">
							<value>KsCommand|KsMenu|KsShift,B</value>
						</second>
					</item>
					<item>
						<first>Editor.QuickOpen</first>
						<second type="traktor.PropertyString">
							<value>KsCommand|KsShift,O</value>
						</second>
					</item>					
					<item>
						<first>Editor.Redo</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,Y</value>
						</second>
					</item>
					<item>
						<first>Editor.Replace</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,H</value>
						</second>
					</item>					
					<item>
						<first>Editor.ReplaceAll</first>
						<second type="traktor.PropertyString">
							<value>KsCommand|KsShift,H</value>
						</second>
					</item>					
					<item>
						<first>Editor.Save</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,S</value>
						</second>
					</item>
					<item>
						<first>Editor.SaveAll</first>
						<second type="traktor.PropertyString">
							<value>KsCommand|KsShift,S</value>
						</second>
					</item>
					<item>
						<first>Editor.SelectAll</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,A</value>
						</second>
					</item>
					<item>
						<first>Editor.Undo</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,Z</value>
						</second>
					</item>
					<item>
						<first>Effect.Editor.Play</first>
						<second type="traktor.PropertyString">
							<value>Space</value>
						</second>
					</item>
					<item>
						<first>Effect.Editor.RandomizeSeed</first>
						<second type="traktor.PropertyString">
							<value>R</value>
						</second>
					</item>
					<item>
						<first>Effect.Editor.Reset</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,Left</value>
						</second>
					</item>
					<item>
						<first>Effect.Editor.Rewind</first>
						<second type="traktor.PropertyString">
							<value>Left</value>
						</second>
					</item>
					<item>
						<first>Effect.Editor.Stop</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,Space</value>
						</second>
					</item>
					<item>
						<first>Effect.Editor.ToggleGuide</first>
						<second type="traktor.PropertyString">
							<value>G</value>
						</second>
					</item>
					<item>
						<first>Effect.Editor.ToggleVelocity</first>
						<second type="traktor.PropertyString">
							<value>V</value>
						</second>
					</item>
					<item>
						<first>Emitter.Editor.Play</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,P</value>
						</second>
					</item>
					<item>
						<first>Emitter.Editor.Reset</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,R</value>
						</second>
					</item>
					<item>
						<first>Emitter.Editor.Rewind</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,Q</value>
						</second>
					</item>
					<item>
						<first>Emitter.Editor.Stop</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,T</value>
						</second>
					</item>
					<item>
						<first>Emitter.Editor.ToggleVelocity</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,1</value>
						</second>
					</item>
					<item>
						<first>Flash.Editor.Forward</first>
						<second type="traktor.PropertyString">
							<value>Right</value>
						</second>
					</item>
					<item>
						<first>Flash.Editor.LayoutAspect</first>
						<second type="traktor.PropertyString">
							<value>2</value>
						</second>
					</item>
					<item>
						<first>Flash.Editor.LayoutCenter</first>
						<second type="traktor.PropertyString">
							<value>1</value>
						</second>
					</item>
					<item>
						<first>Flash.Editor.Play</first>
						<second type="traktor.PropertyString">
							<value>Space</value>
						</second>
					</item>
					<item>
						<first>Flash.Editor.Rewind</first>
						<second type="traktor.PropertyString">
							<value>Left</value>
						</second>
					</item>
					<item>
						<first>Flash.Editor.Stop</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,Space</value>
						</second>
					</item>
					<item>
						<first>Ocean.RandomizeWaves</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,Q</value>
						</second>
					</item>
					<item>
						<first>Physics.ToggleMeshTriangles</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,H</value>
						</second>
					</item>
					<item>
						<first>Scene.Editor.AddEntity</first>
						<second type="traktor.PropertyString">
							<value>A</value>
						</second>
					</item>
					<item>
						<first>Scene.Editor.DoubleView</first>
						<second type="traktor.PropertyString">
							<value>2</value>
						</second>
					</item>
					<item>
						<first>Scene.Editor.EnlargeGuide</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,1</value>
						</second>
					</item>					
					<item>
						<first>Scene.Editor.MoveSelectedEntityIntoView</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,M</value>
						</second>
					</item>
					<item>
						<first>Scene.Editor.MoveToSelectedEntity</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,F</value>
						</second>
					</item>
					<item>
						<first>Scene.Editor.Play</first>
						<second type="traktor.PropertyString">
							<value>Space</value>
						</second>
					</item>
					<item>
						<first>Scene.Editor.QuadrupleView</first>
						<second type="traktor.PropertyString">
							<value>3</value>
						</second>
					</item>
					<item>
						<first>Scene.Editor.Reset</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,Q</value>
						</second>
					</item>
					<item>
						<first>Scene.Editor.Rewind</first>
						<second type="traktor.PropertyString">
							<value>Left</value>
						</second>
					</item>
					<item>
						<first>Scene.Editor.Rotate</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,R</value>
						</second>
					</item>
					<item>
						<first>Scene.Editor.Scale</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,E</value>
						</second>
					</item>
					<item>
						<first>Scene.Editor.ShrinkGuide</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,2</value>
						</second>
					</item>					
					<item>
						<first>Scene.Editor.SingleView</first>
						<second type="traktor.PropertyString">
							<value>1</value>
						</second>
					</item>
					<item>
						<first>Scene.Editor.Stop</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,Space</value>
						</second>
					</item>
					<item>
						<first>Scene.Editor.ToggleAddReference</first>
						<second type="traktor.PropertyString">
							<value>R</value>
						</second>
					</item>
					<item>
						<first>Scene.Editor.ToggleGrid</first>
						<second type="traktor.PropertyString">
							<value>G</value>
						</second>
					</item>
					<item>
						<first>Scene.Editor.ToggleGuide</first>
						<second type="traktor.PropertyString">
							<value>KsShift,G</value>
						</second>
					</item>
					<item>
						<first>Scene.Editor.ToggleSnap</first>
						<second type="traktor.PropertyString">
							<value>S</value>
						</second>
					</item>
					<item>
						<first>Scene.Editor.ToggleX</first>
						<second type="traktor.PropertyString">
							<value>Z</value>
						</second>
					</item>
					<item>
						<first>Scene.Editor.ToggleY</first>
						<second type="traktor.PropertyString">
							<value>X</value>
						</second>
					</item>
					<item>
						<first>Scene.Editor.ToggleZ</first>
						<second type="traktor.PropertyString">
							<value>C</value>
						</second>
					</item>
					<item>
						<first>Scene.Editor.Translate</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,T</value>
						</second>
					</item>
					<item>
						<first>ShaderGraph.Editor.AlignBottom</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,Down</value>
						</second>
					</item>
					<item>
						<first>ShaderGraph.Editor.AlignLeft</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,Left</value>
						</second>
					</item>
					<item>
						<first>ShaderGraph.Editor.AlignRight</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,Right</value>
						</second>
					</item>
					<item>
						<first>ShaderGraph.Editor.AlignTop</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,Up</value>
						</second>
					</item>
					<item>
						<first>ShaderGraph.Editor.QuickMenu</first>
						<second type="traktor.PropertyString">
							<value>Space</value>
						</second>
					</item>
					<item>
						<first>Skeleton.Editor.AddBone</first>
						<second type="traktor.PropertyString">
							<value>A</value>
						</second>
					</item>
					<item>
						<first>StateGraph.Editor.AlignBottom</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,Down</value>
						</second>
					</item>
					<item>
						<first>StateGraph.Editor.AlignLeft</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,Left</value>
						</second>
					</item>
					<item>
						<first>StateGraph.Editor.AlignRight</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,Right</value>
						</second>
					</item>
					<item>
						<first>StateGraph.Editor.AlignTop</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,Up</value>
						</second>
					</item>
					<item>
						<first>Terrain.FlushSurfaceCache</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,Q</value>
						</second>
					</item>
					<item>
						<first>Terrain.ToggleFollowGround</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,F</value>
						</second>
					</item>
					<item>
						<first>Theater.CaptureEntities</first>
						<second type="traktor.PropertyString">
							<value>KsCommand|KsShift,Space</value>
						</second>
					</item>
					<item>
						<first>Theater.DeleteSelectedKey</first>
						<second type="traktor.PropertyString">
							<value>KsCommand|KsShift,Delete</value>
						</second>
					</item>
					<item>
						<first>Theater.GotoNextKey</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,Right</value>
						</second>
					</item>
					<item>
						<first>Theater.GotoPreviousKey</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,Left</value>
						</second>
					</item>
					<item>
						<first>Video.Editor.Forward</first>
						<second type="traktor.PropertyString">
							<value>Right</value>
						</second>
					</item>
					<item>
						<first>Video.Editor.Play</first>
						<second type="traktor.PropertyString">
							<value>Space</value>
						</second>
					</item>
					<item>
						<first>Video.Editor.Rewind</first>
						<second type="traktor.PropertyString">
							<value>Left</value>
						</second>
					</item>
					<item>
						<first>Video.Editor.Stop</first>
						<second type="traktor.PropertyString">
							<value>KsCommand,Space</value>
						</second>
					</item>
				</value>
			</second>
		</item>
		<item>
			<first>Editor.ThumbsPath</first>
			<second type="traktor.PropertyString">
				<value>data/Temp/Thumbs</value>
			</second>
		</item>
		<item>
			<first>Editor.HomeUrl</first>
			<second type="traktor.PropertyString">
				<value>about:blank</value>
			</second>
		</item>
		<item>
			<first>Editor.ToggleEditable</first>
			<second type="traktor.PropertyBoolean">
				<value>true</value>
			</second>
		</item>
		<item>
			<first>Editor.SoundBitsPerSample</first>
			<second type="traktor.PropertyInteger">
				<value>16</value>
			</second>
		</item>
		<item>
			<first>Editor.SoundFrameSamples</first>
			<second type="traktor.PropertyInteger">
				<value>1024</value>
			</second>
		</item>
		<item>
			<first>Editor.SoundHwChannels</first>
			<second type="traktor.PropertyInteger">
				<value>2</value>
			</second>
		</item>
		<item>
			<first>Editor.SoundMixerFrames</first>
			<second type="traktor.PropertyInteger">
				<value>4</value>
			</second>
		</item>
		<item>
			<first>Editor.SoundSampleRate</first>
			<second type="traktor.PropertyInteger">
				<value>44100</value>
			</second>
		</item>
		<item>
			<first>Editor.SoundVirtualChannels</first>
			<second type="traktor.PropertyInteger">
				<value>16</value>
			</second>
		</item>
		<item>
			<first>Editor.WorldRenderer</first>
			<second type="traktor.PropertyString">
				<value>traktor.world.WorldRendererForward</value>
			</second>
		</item>
		<item>
			<first>SceneEditor.FieldOfView</first>
			<second value="traktor.PropertyFloat">
				<value>45</value>
			</second>
		</item>
		<item>
			<first>SceneEditor.View0</first>
			<second type="traktor.PropertyInteger">
				<value>0</value>
			</second>
		</item>
		<item>
			<first>SceneEditor.View1</first>
			<second type="traktor.PropertyInteger">
				<value>0</value>
			</second>
		</item>
		<item>
			<first>SceneEditor.View2</first>
			<second type="traktor.PropertyInteger">
				<value>1</value>
			</second>
		</item>
		<item>
			<first>SceneEditor.View3</first>
			<second type="traktor.PropertyInteger">
				<value>0</value>
			</second>
		</item>
		<item>
			<first>SceneEditor.View4</first>
			<second type="traktor.PropertyInteger">
				<value>3</value>
			</second>
		</item>
		<item>
			<first>SceneEditor.View5</first>
			<second type="traktor.PropertyInteger">
				<value>1</value>
			</second>
		</item>
		<item>
			<first>SceneEditor.View6</first>
			<second type="traktor.PropertyInteger">
				<value>5</value>
			</second>
		</item>
		<item>
			<first>Pipeline.Db</first>
			<second type="traktor.PropertyString">
				<value>fileName=data/Temp/Pipeline.db</value>
			</second>
		</item>
		<item>
			<first>Pipeline.CachePath</first>
			<second type="traktor.PropertyString">
				<value>data/Temp/Cache</value>
			</second>
		</item>		
		<item>
			<first>Pipeline.AssetPath</first>
			<second type="traktor.PropertyString">
				<value>data/Assets</value>
			</second>
		</item>
		<item>
			<first>Pipeline.MemCached</first>
			<second type="traktor.PropertyBoolean">
				<value>false</value>
			</second>
		</item>
		<item>
			<first>Pipeline.MemCached.Host</first>
			<second type="traktor.PropertyString">
				<value/>
			</second>
		</item>
		<item>
			<first>Pipeline.MemCached.Port</first>
			<second type="traktor.PropertyInteger">
				<value>11211</value>
			</second>
		</item>
		<item>
			<first>Pipeline.FileCache</first>
			<second type="traktor.PropertyBoolean">
				<value>false</value>
			</second>
		</item>
		<item>
			<first>Pipeline.FileCache.Path</first>
			<second type="traktor.PropertyString">
				<value/>
			</second>
		</item>
		<item>
			<first>Pipeline.TargetEditor</first>
			<second type="traktor.PropertyBoolean">
				<value>true</value>
			</second>
		</item>
		<item>
			<first>ShaderPipeline.Optimize</first>
			<second type="traktor.PropertyInteger">
				<value>0</value>
			</second>
		</item>
		<item>
			<first>ShaderPipeline.Validate</first>
			<second type="traktor.PropertyBoolean">
				<value>true</value>
			</second>
		</item>
		<item>
			<first>TexturePipeline.SkipMips</first>
			<second type="traktor.PropertyInteger">
				<value>0</value>
			</second>
		</item>
		<item>
			<first>SceneEditor.PhysicsManager</first>
			<second type="traktor.PropertyString">
				<value>traktor.physics.PhysicsManagerBullet</value>
			</second>
		</item>
	</value>
</object>
