<?xml version="1.0" encoding="utf-8"?>
<object type="traktor.drone.DroneSettings">
    <tools>
        <item type="traktor.drone.DroneToolGroup">
          <title>Build solution</title>
          <tools>
            <item type="traktor.drone.DroneToolShortcut">
              <title>vs2015, android</title>
              <command>$(TRAKTOR_HOME)/scripts/build-projects-vs2015-android.bat</command>
              <commandArguments/>
              <workingDirectory>$(TRAKTOR_HOME)</workingDirectory>
            </item>  
            <item type="traktor.drone.DroneToolShortcut">
              <title>vs2015, win32</title>
              <command>$(TRAKTOR_HOME)/scripts/build-projects-vs2015-win32.bat</command>
              <commandArguments/>
              <workingDirectory>$(TRAKTOR_HOME)</workingDirectory>
            </item>
            <item type="traktor.drone.DroneToolShortcut">
              <title>vs2015, win64</title>
              <command>$(TRAKTOR_HOME)/scripts/build-projects-vs2015-win64.bat</command>
              <commandArguments/>
              <workingDirectory>$(TRAKTOR_HOME)</workingDirectory>
            </item>
            <item type="traktor.drone.DroneToolShortcut">
              <title>vs2017, android</title>
              <command>$(TRAKTOR_HOME)/scripts/build-projects-vs2017-android.bat</command>
              <commandArguments/>
              <workingDirectory>$(TRAKTOR_HOME)</workingDirectory>
            </item>
            <item type="traktor.drone.DroneToolShortcut">
              <title>vs2017, win32</title>
              <command>$(TRAKTOR_HOME)/scripts/build-projects-vs2017-win32.bat</command>
              <commandArguments/>
              <workingDirectory>$(TRAKTOR_HOME)</workingDirectory>
            </item>
            <item type="traktor.drone.DroneToolShortcut">
              <title>vs2017, win64</title>
              <command>$(TRAKTOR_HOME)/scripts/build-projects-vs2017-win64.bat</command>
              <commandArguments/>
              <workingDirectory>$(TRAKTOR_HOME)</workingDirectory>
            </item>       
          </tools>
        </item>
      <item type="traktor.drone.DroneToolGroup">
        <title>Open solution</title>
        <tools>
          <item type="traktor.drone.DroneToolShortcut">
            <title>android</title>
            <command>$(TRAKTOR_HOME)/scripts/open-projects-android.bat</command>
            <commandArguments/>
            <workingDirectory>$(TRAKTOR_HOME)</workingDirectory>
          </item>
          <item type="traktor.drone.DroneToolShortcut">
            <title>win32</title>
            <command>$(TRAKTOR_HOME)/scripts/open-projects-win32.bat</command>
            <commandArguments/>
            <workingDirectory>$(TRAKTOR_HOME)</workingDirectory>
          </item>
          <item type="traktor.drone.DroneToolShortcut">
            <title>win64</title>
            <command>$(TRAKTOR_HOME)/scripts/open-projects-win64.bat</command>
            <commandArguments/>
            <workingDirectory>$(TRAKTOR_HOME)</workingDirectory>
          </item>
        </tools>
      </item>
      <item type="traktor.drone.DroneToolGroup">
        <title>Download</title>
        <tools>
          <item type="traktor.drone.DroneToolShortcut">
            <title>Android</title>
            <command>$(TRAKTOR_HOME)/scripts/misc/copy-latest-from-monkey.bat</command>
            <commandArguments>android</commandArguments>
            <workingDirectory>$(TRAKTOR_HOME)</workingDirectory>
          </item>
          <item type="traktor.drone.DroneToolShortcut">
            <title>iOS</title>
            <command>$(TRAKTOR_HOME)/scripts/misc/copy-latest-from-monkey.bat</command>
            <commandArguments>ios</commandArguments>
            <workingDirectory>$(TRAKTOR_HOME)</workingDirectory>
          </item>
          <item type="traktor.drone.DroneToolShortcut">
            <title>Linux (x86)</title>
            <command>$(TRAKTOR_HOME)/scripts/misc/copy-latest-from-monkey.bat</command>
            <commandArguments>linux32</commandArguments>
            <workingDirectory>$(TRAKTOR_HOME)</workingDirectory>
          </item>
          <item type="traktor.drone.DroneToolShortcut">
            <title>OSX</title>
            <command>$(TRAKTOR_HOME)/scripts/misc/copy-latest-from-monkey.bat</command>
            <commandArguments>osx</commandArguments>
            <workingDirectory>$(TRAKTOR_HOME)</workingDirectory>
          </item>
          <item type="traktor.drone.DroneToolShortcut">
            <title>PS3</title>
            <command>$(TRAKTOR_HOME)/scripts/misc/copy-latest-from-monkey.bat</command>
            <commandArguments>ps3</commandArguments>
            <workingDirectory>$(TRAKTOR_HOME)</workingDirectory>
          </item>
          <item type="traktor.drone.DroneToolShortcut">
            <title>PNaCl</title>
            <command>$(TRAKTOR_HOME)/scripts/misc/copy-latest-from-monkey.bat</command>
            <commandArguments>pnacl</commandArguments>
            <workingDirectory>$(TRAKTOR_HOME)</workingDirectory>
          </item>
          <item type="traktor.drone.DroneToolShortcut">
            <title>Emscripten</title>
            <command>$(TRAKTOR_HOME)/scripts/misc/copy-latest-from-monkey.bat</command>
            <commandArguments>emscripten</commandArguments>
            <workingDirectory>$(TRAKTOR_HOME)</workingDirectory>
          </item>
          <item type="traktor.drone.DroneToolShortcut">
            <title>Win32</title>
            <command>$(TRAKTOR_HOME)/scripts/misc/copy-latest-from-monkey.bat</command>
            <commandArguments>win32</commandArguments>
            <workingDirectory>$(TRAKTOR_HOME)</workingDirectory>
          </item>
          <item type="traktor.drone.DroneToolShortcut">
            <title>Win64</title>
            <command>$(TRAKTOR_HOME)/scripts/misc/copy-latest-from-monkey.bat</command>
            <commandArguments>win64</commandArguments>
            <workingDirectory>$(TRAKTOR_HOME)</workingDirectory>
          </item>
          <item type="traktor.drone.DroneToolShortcut">
            <title>Mobile6</title>
            <command>$(TRAKTOR_HOME)/scripts/misc/copy-latest-from-monkey.bat</command>
            <commandArguments>mobile6</commandArguments>
            <workingDirectory>$(TRAKTOR_HOME)</workingDirectory>
          </item>
         <item type="traktor.drone.DroneToolShortcut">
            <title>Documentation</title>
            <command>$(TRAKTOR_HOME)/scripts/misc/copy-latest-from-monkey.bat</command>
            <commandArguments>doc</commandArguments>
            <workingDirectory>$(TRAKTOR_HOME)</workingDirectory>
          </item>
        </tools>
      </item>
      <item type="traktor.drone.DroneToolGroup">
        <title>Run</title>
        <tools>
          <item type="traktor.drone.DroneToolShortcut">
            <title>Editor</title>
            <command>$(TRAKTOR_HOME)/scripts/run-editor-win64.bat</command>
            <commandArguments/>
            <workingDirectory>$(TRAKTOR_HOME)</workingDirectory>
          </item>
          <item type="traktor.drone.DroneToolShortcut">
            <title>SolutionBuilder</title>
            <command>$(TRAKTOR_HOME)/bin/win64/releasestatic/Traktor.SolutionBuilder.Editor.App.exe</command>
            <commandArguments/>
            <workingDirectory>$(TRAKTOR_HOME)</workingDirectory>
          </item>
        </tools>
      </item>
    </tools>
</object>