<?xml version="1.0" encoding="utf-8"?>
<object type="traktor.PropertyGroup">
	<value>
		<item>
			<first>Editor.LastDesktopHeight</first>
			<second type="traktor.PropertyInteger">
				<value>3802</value>
			</second>
		</item>
		<item>
			<first>Editor.LastDesktopWidth</first>
			<second type="traktor.PropertyInteger">
				<value>4320</value>
			</second>
		</item>
		<item>
			<first>Editor.NewInstanceTreeState</first>
			<second type="traktor.PropertyObject">
				<value type="traktor.ui.HierarchicalState">
					<scrollPosition>0</scrollPosition>
					<states>
						<item>
							<first>Global</first>
							<second>
								<first>true</first>
								<second>false</second>
							</second>
						</item>
						<item>
							<first>Global/traktor</first>
							<second>
								<first>true</first>
								<second>false</second>
							</second>
						</item>
						<item>
							<first>Global/traktor/ai</first>
							<second>
								<first>true</first>
								<second>false</second>
							</second>
						</item>
						<item>
							<first>Global/traktor/animation</first>
							<second>
								<first>true</first>
								<second>false</second>
							</second>
						</item>
						<item>
							<first>Global/traktor/editor</first>
							<second>
								<first>true</first>
								<second>false</second>
							</second>
						</item>
						<item>
							<first>Global/traktor/flash</first>
							<second>
								<first>true</first>
								<second>false</second>
							</second>
						</item>
						<item>
							<first>Global/traktor/hf</first>
							<second>
								<first>true</first>
								<second>false</second>
							</second>
						</item>
						<item>
							<first>Global/traktor/i18n</first>
							<second>
								<first>true</first>
								<second>false</second>
							</second>
						</item>
						<item>
							<first>Global/traktor/input</first>
							<second>
								<first>true</first>
								<second>false</second>
							</second>
						</item>
						<item>
							<first>Global/traktor/mesh</first>
							<second>
								<first>true</first>
								<second>false</second>
							</second>
						</item>
						<item>
							<first>Global/traktor/online</first>
							<second>
								<first>true</first>
								<second>false</second>
							</second>
						</item>
						<item>
							<first>Global/traktor/physics</first>
							<second>
								<first>true</first>
								<second>false</second>
							</second>
						</item>
						<item>
							<first>Global/traktor/render</first>
							<second>
								<first>true</first>
								<second>true</second>
							</second>
						</item>
						<item>
							<first>Global/traktor/resource</first>
							<second>
								<first>true</first>
								<second>false</second>
							</second>
						</item>
						<item>
							<first>Global/traktor/runtime</first>
							<second>
								<first>true</first>
								<second>false</second>
							</second>
						</item>
						<item>
							<first>Global/traktor/scene</first>
							<second>
								<first>true</first>
								<second>false</second>
							</second>
						</item>
						<item>
							<first>Global/traktor/script</first>
							<second>
								<first>true</first>
								<second>false</second>
							</second>
						</item>
						<item>
							<first>Global/traktor/shape</first>
							<second>
								<first>true</first>
								<second>false</second>
							</second>
						</item>
						<item>
							<first>Global/traktor/sound</first>
							<second>
								<first>true</first>
								<second>false</second>
							</second>
						</item>
						<item>
							<first>Global/traktor/spray</first>
							<second>
								<first>true</first>
								<second>false</second>
							</second>
						</item>
						<item>
							<first>Global/traktor/terrain</first>
							<second>
								<first>true</first>
								<second>false</second>
							</second>
						</item>
						<item>
							<first>Global/traktor/uikit</first>
							<second>
								<first>true</first>
								<second>false</second>
							</second>
						</item>
						<item>
							<first>Global/traktor/video</first>
							<second>
								<first>true</first>
								<second>false</second>
							</second>
						</item>
						<item>
							<first>Global/traktor/weather</first>
							<second>
								<first>true</first>
								<second>false</second>
							</second>
						</item>
						<item>
							<first>Global/traktor/world</first>
							<second>
								<first>true</first>
								<second>false</second>
							</second>
						</item>
					</states>
				</value>
			</second>
		</item>
		<item>
			<first>Editor.PositionX</first>
			<second type="traktor.PropertyInteger">
				<value>116</value>
			</second>
		</item>
		<item>
			<first>Editor.PositionY</first>
			<second type="traktor.PropertyInteger">
				<value>1162</value>
			</second>
		</item>
		<item>
			<first>Editor.SizeHeight</first>
			<second type="traktor.PropertyInteger">
				<value>1417</value>
			</second>
		</item>
		<item>
			<first>Editor.SizeWidth</first>
			<second type="traktor.PropertyInteger">
				<value>2042</value>
			</second>
		</item>
		<item>
			<first>Editor.StyleSheet</first>
			<second type="traktor.PropertyString">
				<value>$(TRAKTOR_HOME)/resources/runtime/themes/Dark/StyleSheet.xss</value>
			</second>
		</item>
		<item>
			<first>Pipeline.BuildThreads</first>
			<second type="traktor.PropertyBoolean">
				<value>false</value>
			</second>
		</item>
		<item>
			<first>Pipeline.Verbose</first>
			<second type="traktor.PropertyBoolean">
				<value>true</value>
			</second>
		</item>
		<item>
			<first>Runtime.AndroidApiLevel</first>
			<second type="traktor.PropertyString">
				<value/>
			</second>
		</item>
		<item>
			<first>Runtime.AndroidHome</first>
			<second type="traktor.PropertyString">
				<value>$(ANDROID_HOME)</value>
			</second>
		</item>
		<item>
			<first>Runtime.AndroidNdkRoot</first>
			<second type="traktor.PropertyString">
				<value>$(ANDROID_NDK_ROOT)</value>
			</second>
		</item>
		<item>
			<first>Runtime.AndroidToolchain</first>
			<second type="traktor.PropertyString">
				<value/>
			</second>
		</item>
		<item>
			<first>Runtime.Emscripten</first>
			<second type="traktor.PropertyString">
				<value>$(EMSCRIPTEN)</value>
			</second>
		</item>
		<item>
			<first>Runtime.InheritCache</first>
			<second type="traktor.PropertyBoolean">
				<value>true</value>
			</second>
		</item>
		<item>
			<first>Runtime.PipelineHidden</first>
			<second type="traktor.PropertyBoolean">
				<value>true</value>
			</second>
		</item>
		<item>
			<first>Runtime.StaticallyLinked</first>
			<second type="traktor.PropertyBoolean">
				<value>false</value>
			</second>
		</item>
		<item>
			<first>Runtime.UseDebugBinaries</first>
			<second type="traktor.PropertyBoolean">
				<value>false</value>
			</second>
		</item>
		<item>
			<first>Runtime.VerboseResourceManager</first>
			<second type="traktor.PropertyBoolean">
				<value>false</value>
			</second>
		</item>
		<item>
			<first>Scene.Editor.GridEnable0</first>
			<second type="traktor.PropertyBoolean">
				<value>true</value>
			</second>
		</item>
		<item>
			<first>Scene.Editor.GridEnable1</first>
			<second type="traktor.PropertyBoolean">
				<value>true</value>
			</second>
		</item>
		<item>
			<first>Scene.Editor.GridEnable2</first>
			<second type="traktor.PropertyBoolean">
				<value>true</value>
			</second>
		</item>
		<item>
			<first>Scene.Editor.GridEnable3</first>
			<second type="traktor.PropertyBoolean">
				<value>true</value>
			</second>
		</item>
		<item>
			<first>Scene.Editor.GridEnable4</first>
			<second type="traktor.PropertyBoolean">
				<value>true</value>
			</second>
		</item>
		<item>
			<first>Scene.Editor.GridEnable5</first>
			<second type="traktor.PropertyBoolean">
				<value>true</value>
			</second>
		</item>
		<item>
			<first>Scene.Editor.GridEnable6</first>
			<second type="traktor.PropertyBoolean">
				<value>true</value>
			</second>
		</item>
		<item>
			<first>Scene.Editor.GuideEnable0</first>
			<second type="traktor.PropertyBoolean">
				<value>false</value>
			</second>
		</item>
		<item>
			<first>Scene.Editor.GuideEnable1</first>
			<second type="traktor.PropertyBoolean">
				<value>true</value>
			</second>
		</item>
		<item>
			<first>Scene.Editor.GuideEnable2</first>
			<second type="traktor.PropertyBoolean">
				<value>true</value>
			</second>
		</item>
		<item>
			<first>Scene.Editor.GuideEnable3</first>
			<second type="traktor.PropertyBoolean">
				<value>true</value>
			</second>
		</item>
		<item>
			<first>Scene.Editor.GuideEnable4</first>
			<second type="traktor.PropertyBoolean">
				<value>true</value>
			</second>
		</item>
		<item>
			<first>Scene.Editor.GuideEnable5</first>
			<second type="traktor.PropertyBoolean">
				<value>true</value>
			</second>
		</item>
		<item>
			<first>Scene.Editor.GuideEnable6</first>
			<second type="traktor.PropertyBoolean">
				<value>true</value>
			</second>
		</item>
		<item>
			<first>SceneEditor.SplitCount</first>
			<second type="traktor.PropertyInteger">
				<value>2</value>
			</second>
		</item>
		<item>
			<first>SceneEditor.TogglePick</first>
			<second type="traktor.PropertyBoolean">
				<value>true</value>
			</second>
		</item>
		<item>
			<first>SceneEditor.ToggleSnap</first>
			<second type="traktor.PropertyBoolean">
				<value>false</value>
			</second>
		</item>
		<item>
			<first>SceneEditor.View2</first>
			<second type="traktor.PropertyInteger">
				<value>9</value>
			</second>
		</item>
		<item>
			<first>ShaderEditor.ShaderDependencyPaneVisible</first>
			<second type="traktor.PropertyBoolean">
				<value>false</value>
			</second>
		</item>
		<item>
			<first>ShaderEditor.ShaderViewVisible</first>
			<second type="traktor.PropertyBoolean">
				<value>false</value>
			</second>
		</item>
		<item>
			<first>TexturePipeline.ClampSize</first>
			<second type="traktor.PropertyInteger">
				<value>0</value>
			</second>
		</item>
	</value>
</object>
