<?xml version="1.0" encoding="UTF-8"?>

<?define TRAKTOR_HOME_BIN_LATEST_WIN64_RELEASESHARED="$(env.TRAKTOR_HOME)/bin/latest/win64/releaseshared"?>

<Wix
  xmlns="http://schemas.microsoft.com/wix/2006/wi"
>
  <Product
	Id="758D5A2F-9E42-4f22-BF1C-504037E55CFD"
	Name="Traktor"
	Language="0"
	Codepage="65001"
	Version="1.0.0"
	Manufacturer="Anders Pistol"
	UpgradeCode="50247611-92FC-49b3-B615-712E6C284C4D"
  >
	<Package Platform="x64" InstallerVersion="301" Compressed="yes" />
	<MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />
	<Media Id="1" Cabinet="Traktor.cab" EmbedCab="yes" />
	<Icon Id="icon.ico" SourceFile="$(env.TRAKTOR_HOME)/resources/build/windows/Traktor.ico"/>
	<Property Id="ARPPRODUCTICON" Value="icon.ico" />

	<Directory Id="TARGETDIR" Name="SourceDir">

		<!-- Program folder -->
		<Directory Id="ProgramFiles64Folder">
			<Directory Id="INSTALLLOCATION" Name="Traktor">
				<Directory Id="bin" Name="bin">
					<Directory Id="bin_latest" Name="latest">
						<!--
						<Directory Id="bin_latest_android" Name="android"/>
						<Directory Id="bin_latest_linux" Name="linux"/>
						<Directory Id="bin_latest_ios" Name="ios"/>
						<Directory Id="bin_latest_osx" Name="osx"/>
						<Directory Id="bin_latest_rpi" Name="rpi"/>
						-->
						<Directory Id="bin_latest_win64" Name="win64"/>
					</Directory>
				</Directory>
				<Directory Id="data" Name="data"/>
				<Directory Id="resources" Name="resources"/>
				<Directory Id="scripts" Name="scripts"/>
				<Component Id="license" Guid="A7AFC39C-7F06-457B-B908-0561DD2111ED">
					<File Id="license" KeyPath="yes" Source="$(env.TRAKTOR_HOME)/LICENSE.txt" />
				</Component>
			</Directory>
		</Directory>

		  <!-- Start menu -->
		<Directory Id="ProgramMenuFolder">
			<Directory Id="ShortcutDir_Company" Name="Traktor">
				<Component Id="ShortcutCmp_Traktor" Guid="E690EF76-572E-4110-A35F-BA30DF4C8C55">
					<Shortcut Id="Shortcut_Traktor"
							  Name="Traktor Editor"
							  Description="Launch Traktor Editor"
							  Target="[bin_latest_win64]/releaseshared/Traktor.Editor.App.exe"
							  WorkingDirectory="INSTALLLOCATION" />
					<RemoveFolder Id="ShortcutDir_Company" On="uninstall" />
					<RegistryValue Root="HKCU" Key="Software\Traktor" Name="installed" Type="integer" Value="1" KeyPath="yes" />
				</Component>
			</Directory>
		</Directory>

	</Directory>

	<Feature Id="ProductFeature" Title="Traktor" Level="1">
		<!--
		<ComponentGroupRef Id="cmp_bin_latest_android" />
		<ComponentGroupRef Id="cmp_bin_latest_linux" />
		<ComponentGroupRef Id="cmp_bin_latest_ios" />
		<ComponentGroupRef Id="cmp_bin_latest_osx" />
		<ComponentGroupRef Id="cmp_bin_latest_rpi" />
		-->
		<ComponentGroupRef Id="cmp_bin_latest_win64" />
		<ComponentGroupRef Id="cmp_data_assets" />
		<ComponentGroupRef Id="cmp_data_source" />
		<ComponentGroupRef Id="cmp_resources_runtime" />
		<ComponentGroupRef Id="cmp_scripts_runtime" />
		<ComponentRef Id="ShortcutCmp_Traktor" />
		<ComponentRef Id="license" />

	</Feature>

	<Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />
	<UIRef Id="WixUI_InstallDir" />

	<UI>
		<UIRef Id="WixUI_InstallDir" />
		<!-- skip licence dialog -->
		<Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="2">1</Publish>
		<Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">1</Publish>
	</UI>

	<InstallExecuteSequence>
	</InstallExecuteSequence>

  </Product>
</Wix>
