BasedOnStyle: LLVM
UseTab: Always
IndentWidth: 8
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 0
MaxEmptyLinesToKeep: 1
BreakConstructorInitializersBeforeComma: true
BraceWrapping: 
   AfterClass:            true 
   AfterControlStatement: true
   AfterEnum:             false 
   AfterFunction:         false 
   AfterNamespace:        false 
   AfterStruct:           false 
   AfterUnion:            false 
   BeforeCatch:           false 
   BeforeElse:            false 
   IndentBraces:          false 
BinPackArguments: false
AlwaysBreakTemplateDeclarations: false
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakAfterReturnType: None
AllowShortLoopsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortCaseLabelsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AlignTrailingComments: false
AlignOperands: false
AlignConsecutiveDeclarations: false
AlignConsecutiveAssignments: false
AlignAfterOpenBracket: DontAlign
