{
  "program": {
    "portable": {
      "pnacl-translate": {
        "url": "<!-- output:print(os:getEnvironment("DEPLOY_EXECUTABLE")) --!>.pexe"
      },
      "pnacl-debug": {
        "url": "<!-- output:print(os:getEnvironment("DEPLOY_EXECUTABLE")) --!>.unfinal.pexe",
        "optlevel": 0
      }        
    }
  }
}
