<html>
	<head>
		<style>
body {
    background-color: #222222;
}

h1 {
    color: white;
    text-align: center;
    font-family: "Segoe UI", "Arial";
    font-size: 22pt;
}

.p1 {
    color: white;
    text-align: center;
    font-family: "Segoe UI", "Arial";
    font-size: 16pt;
}

.p2 {
    color: white;
    text-align: center;
    font-family: "Segoe UI", "Arial";
    font-size: 9pt;
}

		</style>
	</head>
	<body>
		<h1><!-- output:print(os:getEnvironment("WIZARD_NAME")) --!></h1>
		<p class="p1">
		Welcome to <b>Traktor</b> editor and your new project <!-- output:print(os:getEnvironment("WIZARD_NAME")) --!>!<br>
		</p>
		<p class="p2">
		To get you started we've provided a basic skeleton which
		contains the very basic to get your application up and
		running as quickly and easily as possible.
		</p>
	</body>
</html>
